<div class="animate__animated animate__fadeIn">
  <svg version="1.1" id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" enable-background="new 0 0 178.5 157.5" xml:space="preserve">
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#F6901E" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#F6901E" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#F6901E" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#F6901E" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#F6901E" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="17.6" />
    <circle opacity="0.24" fill="#FFFFFF" cx="89.7" cy="77.7" r="68.8" />
    <circle opacity="0.24" fill="#F6901E" cx="89.7" cy="77.7" r="68.8" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="68.8" />
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="68.8" />
    <circle opacity="0.24" fill="#F6901E" cx="89.7" cy="77.7" r="68.8" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="68.8" />
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="68.8" />
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="4.9" />
    <circle opacity="0.24" fill="#26A9E0" cx="89.7" cy="77.7" r="4.9" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="4.9" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="4.9" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="4.9" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="4.9" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="4.9" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="4.9" />
    <circle opacity="0.24" fill="#E8127F" cx="89.7" cy="77.7" r="4.9" />
  </svg>
  <img id="bg-logo" src="/assets/img/logo.png" height="210" alt="">

</div>