<div class="container mt-5  bg-white">
    <h1 class="m-4">Stock</h1>
    <div class="row">
        <div class="col-5 products">

            <div class="d-flex justify-content-end">
                <div class="input-group">
                    <input type="text" class="input-control" placeholder="search">
                </div>
                <button class="btn btn-outline-success btn-sm"><i class="fa-solid fa-plus"></i></button>
            </div>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Image here</th>
                        <td>Oats</td>
                        <td>Quantity</td>
                        <td><button class="btn btn-outline-primary mx-1 btn-sm"><i
                                    class="fa-solid fa-plus"></i></button>
                            <button class="btn btn-outline-danger mx-1 btn-sm"><i class="fa-solid fa-plus"></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>